
<nav id="sidebar">
    <ul>
        <!-- <li>
         <a  class="icon ion-document-text"> <i class="fa fa-user " aria-hidden="true"></i><p></p></a>
      </li> -->
      <li>
         <a  routerLink="/recent"> <i class="fa fa-home " aria-hidden="true"></i><p>Recent</p></a>
      </li>
      <li>
         <a routerLink="/create"> <i class="fa fa-book " aria-hidden="true"></i><p>Create</p></a>
      </li>
      
       <!-- <li>
          <a> <i class="fa fa-book " aria-hidden="true"></i><p>Delete</p></a>
       </li> -->
      <!-- <li>
         <a href="menuPrincipalCondominios.php"> <i class="fa fa-user " aria-hidden="true"></i><p></p></a>
      </li> -->
    </ul>
  </nav>

  <app-home-page2></app-home-page2>
