
<nav class="navbar background h-nav-resp">
  <ul class="nav-list v-class-resp">
  <div class="logo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6qOu3lLCtbx4rpHKRnZSvERTHhgWR7j1v7w&usqp=CAU" alt="logo"></div>
  <li><a (click)="changeView" routerLink="">Home</a></li>
  <li><a routerLink="start">Explore</a></li>
  <!-- <li><a href="#services">Services</a></li>
  <li><a href="contact.html">Contact</a></li> -->
  </ul>
  
  
  <div class="burger">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  </div>
  </nav>



<router-outlet></router-outlet>

