<main>
    <div class="lp">
      <!--- START: NAV --->
      <!-- <nav class="lp__nav">
        <img src="https://cdn.pixabay.com/photo/2016/12/19/03/14/computer-1917230__480.png" class="lp__nav__logo">
         <p class="lp__nav__text">Studio.</p> -->
      <!-- </nav> -->
      <!--- END: NAV --->
  
      <section class="lp__body">
      <!--- START: TEXT --->
      <div class="lp__text">
        <h1 class="lp__text__title"><span class="lp__text__title-first">Document Manager</span>
          </h1>
        <p class="lp__text__subtext">Document management system or DMS, as the name implies, is a system or software that allows the creation, storage, managing, indexing, protection, and retrieval of digital documents.</p>
      </div>
      <!-- <button><a  class="btn btn-lg">Get Started</a></button> -->
      <!--- END: TEXT --->
  
      <!--- START: IMG --->
      <div class="lp__mainImg">
        <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/experience_design_eq3j.svg" class="lp__mainImg__img">
      </div>
      <!--- END: IMG --->
      </section>
    </div>


    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

<!-- <body>
    <div class="container">
      <div class="serviceBox">
        <div class="icon" style="--i: rgba(20, 34, 126, 0.814);">
          <i class="fa-solid fa-lightbulb-on" style="color: beige;" ></i>
        </div>
        <div class="content">
          <h2>Document</h2>
          <p>
            Document management systems enable companies to manage, store, track electronic files & documents, 
            and electronic images through document scanners for business operations.
          </p>
        </div>
      </div>
      <div class="serviceBox">
        <div class="icon" style="--i: rgba(20, 34, 126, 0.814);">
          <i class="fas fa-code"></i>
        </div>
        <div class="content">
          <h2>Excel</h2>
          <p>
            Be exceptionally good at or proficient in an activity or subject.
          </p>
        </div>
      </div>
      <div class="serviceBox">
        <div class="icon" style="--i: rgba(20, 34, 126, 0.814);">
          <i class="fas fa-search"></i>
        </div>
        <div class="content">
          <h2>PDF</h2>
          <p>
            PDF stands for the Portable Document Format, used to display documents in an electronic 
            form independent of the software, hardware or operating system they are viewed on.
          </p>
        </div>
      </div>
      <div class="serviceBox">
        <div class="icon" style="--i: rgba(20, 34, 126, 0.814);">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="content">
          <h2>Digital Marketing</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            eos facilis beatae dicta perferendis. Similique.
          </p>
        </div>
      </div>
      <div class="serviceBox">
        <div class="icon" style="--i: rgba(20, 34, 126, 0.814);">
          <i class="fas fa-video"></i>
        </div>
        <div class="content">
          <h2>Video Editing</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            eos facilis beatae dicta perferendis. Similique.
          </p>
        </div>
      </div>
      <div class="serviceBox">
        <div class="icon" style="--i:rgba(20, 34, 126, 0.814);">
          <i class="fas fa-gamepad"></i>
        </div>
        <div class="content">
          <h2>Games Development</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            eos facilis beatae dicta perferendis. Similique.
          </p>
        </div>
      </div>
    </div>
  </body>
    
  </main> -->
